.Input {
  font-size: 16px;
  font-weight: 400;
}

.Input_theme_form {
  border: 1px solid #A7A7A7;
  border-radius: 10px;
  padding: 12px 16px;
  width: 90%;
}

.Input_theme_form:focus {
  border: 1px solid #077f07;
  outline: 0px;
}